Source: ros-lyrical-greenwave-monitor-interfaces
Section: misc
Priority: optional
Maintainer: Sean Gillen <sgillen@nvidia.com>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-rosidl-default-generators, ros-lyrical-ros-workspace, ros-lyrical-rosidl-typesupport-fastrtps-c, ros-lyrical-rosidl-typesupport-fastrtps-cpp
Homepage: https://index.ros.org/p/greenwave_monitor_interfaces/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-greenwave-monitor-interfaces
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-rosidl-default-runtime, ros-lyrical-ros-workspace
Description: Interfaces for the greenwave_monitor package
