Source: ros-rolling-greenwave-monitor
Section: misc
Priority: optional
Maintainer: Sean Gillen <sgillen@nvidia.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-rolling-ament-cmake, ros-rolling-ament-cmake-auto, ros-rolling-ament-cmake-pytest <!nocheck>, ros-rolling-ament-cmake-python, ros-rolling-ament-flake8 <!nocheck>, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-ament-pep257 <!nocheck>, ros-rolling-diagnostic-msgs, ros-rolling-greenwave-monitor-interfaces, ros-rolling-launch-testing <!nocheck>, ros-rolling-launch-testing-ros <!nocheck>, ros-rolling-rclcpp, ros-rolling-rclpy, ros-rolling-rosidl-default-generators, ros-rolling-sensor-msgs, ros-rolling-std-msgs, ros-rolling-ros-workspace, ros-rolling-rosidl-typesupport-fastrtps-c, ros-rolling-rosidl-typesupport-fastrtps-cpp
Homepage: https://index.ros.org/p/greenwave_monitor/#rolling
Standards-Version: 3.9.2

Package: ros-rolling-greenwave-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-diagnostic-msgs, ros-rolling-greenwave-monitor-interfaces, ros-rolling-launch, ros-rolling-launch-ros, ros-rolling-rclcpp, ros-rolling-rclpy, ros-rolling-rosidl-default-runtime, ros-rolling-sensor-msgs, ros-rolling-std-msgs, ros-rolling-ros-workspace
Description: A ROS 2 diagnostic tool for monitoring topic frame rates and latency metrics.
